@media screen and (max-width:600px) {   
    [tuiCardLarge]{
        width:90%;
    }
    .item{
        height:15rem;
        width: 20rem;
    }
    .carousel{
        width: 20rem;
    }
    tui-carousel{
        width:20rem
    }
    .container{
        display: flex;
        flex: 0 0 50px;
        margin: 0px;
    }
}

@media screen and (min-width:600px) {   
    [tuiCardLarge]{
        width:60%;
        margin:auto
    };
    .carousel{
        margin: auto;
        display: flex;
    };
    .item{
        height:15rem;
        width: 20rem;
    };
    tui-carousel,.carousel{
        margin: auto;
        display: flex;
        align-self: center;
        justify-self: center;
        width: 25rem;
    };
    .container{
        display: flex;
        flex: 0 0 50px;
        margin: auto;
        // [tuiTitle]{
        //     display: flex;
        //     margin:auto;
        // };
        // [tuiCell]{
        //     display:flex;
        //     margin: auto;
        // }
    }
}

p,div,span,label,h,section,header{
    
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 113, 61);
}
