<div class="m-2">
    <div card>
        <div class="title">
            <h4>About me</h4>
            <h2>
                  I am an enthusiastic software developer. I not only pocess excelent Tech skills but also love what i do. I have experience in various fields such as Web development, Mobile App development, Data analysis, database management and cyber security. I have specialized in web development, having exceptional skills in MEAN stack. I develop very appealing and responsive user interfaces using various UI libraries that i pick selectively depending on the user needs.
                 <br>
                <hr>
                You <a href="#contact" tuiLink>can reach out to me</a> for collaboration or business. I am also open to work on open source projects
            </h2>
        </div>

    </div>
</div>

<div card class="container">
    <div tuiTitle>
        My Startups
        <h2 tuiSubtitle>
            <div tuiCell="s">
                <tui-avatar size="s" appearance="accent" src="/startups/v1.png"/>
                <a tuiTitle tuiLink href="https://vertexke.netlify.app">
                    Vertex
                </a>
            </div>
            <div tuiCell="s">
                <tui-avatar size="s" appearance="accent" src="/startups/shop1.png"/>
                <a tuiTitle tuiLink href="https://quickstoreke.netlify.app">
                    QuickStore
                </a>
            </div>
        </h2>
    </div>

    <div tuiCell="l" class="carousel">
        <div tuiTitle>
            <tui-carousel [itemsCount]="1" [draggable]="true">
                <div class="item" *tuiItem tuiCell="l" style="background-image:url('/startups/shop1.png');background-size: cover;">
                    <h2>Quickstore</h2>
                </div>
                <div class="item" *tuiItem tuiCell="l" style="background-image:url('/startups/shop2.png');background-size: cover;">
                    <h2>Quickstore</h2>
                </div>
                <div class="item" *tuiItem tuiCell="l" style="background-image:url('/startups/v1.png');background-size: cover;">
                    <h2>Vertex</h2>
                </div>
                <div class="item" *tuiItem tuiCell="l" style="background-image:url('/startups/v2.png');background-size: cover;">
                    <h2>Vertex</h2>
                </div>
            </tui-carousel>
        </div>
    </div>

</div>

