<div class="m-2">
    <div tuiCardLarge>
        <div tuiTitle>
            about Me
            <h2 tuiSubtitle>
                I am an enthusiastic software developer. I not only pocess the excelent Tech skills but also love what i do. I have experience in various fields such as Web development, Mobile App development, Data analysis, database management and cyber security. I have specialized in web development, having exceptional skills in MEAN stack. I develop very appealing and responsive user interfaces using various UI libraries that i pick selectively depending on the user needs. <br>
                <hr>
                You <a href="#contact" tuiLink>can reach out to me</a> for collaboration or business. I am also open to work on open source projects
            </h2>
        </div>

    </div>
</div>