@media screen and (max-width:600px) {   
    [tuiCardlarge]{
        width:90%;
    };
    .item{
        height:10rem;
        width: 14rem;
    }
}

@media screen and (min-width:600px) {   
    [tuiCardlarge]{
        width:60%;
        margin:auto
    };
    .carousel{
        margin: auto;
        display: flex;
    };
    .item{
        height:15rem;
        width: 20rem;
    }
}

p,div,span,label,h,section,header{
    
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 113, 61);
}