<div 
tuiCardLarge
tuiSurface="elevated"
class="row d-flex m-2"
> 
    <div class="col-lg-6">
        <header tuiHeader>
            <p>E-commerce shop</p>
            <br />
        </header>
        
        <section class="image d-flex" style="height:450">
            <tui-badge>Ready for preview</tui-badge>
        </section>
    </div>
    <div class="col-lg-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt asperiores aspernatur inventore nihil consequatur molestiae ut. Excepturi nostrum tenetur ipsam, enim eos consequuntur fuga non voluptate ea, ratione error ex.
    </div>
    <footer>
        <p>Stack: Angular</p>
     </footer>
</div>


<div 
tuiCardLarge
tuiSurface="elevated"
class="row d-flex m-2"
> 
    <div class="col-lg-6">
        <header tuiHeader>
            <p>E-commerce shop</p>
            <br />
        </header>
        
        <section class="image d-flex" style="height:450">
            <tui-badge>In Development</tui-badge>
        </section>
    </div>
    <div class="col-lg-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt asperiores aspernatur inventore nihil consequatur molestiae ut. Excepturi nostrum tenetur ipsam, enim eos consequuntur fuga non voluptate ea, ratione error ex.
    </div>
    <footer>
        <p>Stack: Angular</p>
     </footer>
</div>

<div 
tuiCardLarge
tuiSurface="elevated"
class="row d-flex m-2"
> 
    <div class="col-lg-6">
        <header tuiHeader>
            <p>E-commerce shop</p>
            <br />
        </header>
        
        <section class="image d-flex" style="height:450">
            <tui-badge>Ready for preview</tui-badge>
        </section>
    </div>
    <div class="col-lg-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt asperiores aspernatur inventore nihil consequatur molestiae ut. Excepturi nostrum tenetur ipsam, enim eos consequuntur fuga non voluptate ea, ratione error ex.
    </div>
    <footer>
        <p>Stack: Angular</p>
     </footer>
</div>