<div 
tuiCardLarge
tuiSurface="elevated"
class="row d-flex m-2"
> 
    <div class="col-lg-6">
        <header tuiHeader>
            <p tuiTitle>E-commerce shop</p>
            <br />
        </header>
        
        <section class="d-flex image" style="height:450;background: url('/images/shop.png') no-repeat top right / 250% ;
        background-size: cover;
        height: 15rem;
        width: 20rem;
        border-radius: 15px;">
            <tui-badge>In development</tui-badge>
        </section>
    </div>
    <div class="col-lg-6">
        This is a B2B E-commerce shop inspired by Jumia and Amazon. I am actually intending to launch it as my startup project. My main goal is to bridge the gap between people struggling to sell online and buyers.
    </div>
    <footer>
        <p tuiSubTitle>Tech Stack: Angular, NodeJs,ExpressJS,MongoDB</p>
     </footer>
</div>


<div 
tuiCardLarge
tuiSurface="elevated"
class="row d-flex m-2"
> 
    <div class="col-lg-6">
        <header tuiHeader>
            <p tuiTitle>Reddit-Like App</p>
            <br />
        </header>
        
        <section class="image d-flex" style="height:450;background: url('/images/social.png') no-repeat top right / 250% ;
        background-size: cover;
        height: 15rem;
        width: 20rem;
        border-radius: 15px;">
            <tui-badge>Ready for preview</tui-badge>
        </section>
    </div>
    <div class="col-lg-6">
        This is a simple application that uses the reddit concept of upvoting and downvoting posts. The posts are then sorted according to the number of votes. It is meant for posting articles and the links to where the articles are found.
    </div>
    <footer>
        <p tuiSubTitle>Tech Stack: Angular</p>
     </footer>
</div>


<div 
tuiCardLarge
tuiSurface="elevated"
class="row d-flex m-2"
> 
    <div class="col-lg-6">
        <header tuiHeader>
            <p tuiTitle>Youtube search App</p>
            <br />
        </header>
        
        <section class="image d-flex" style="height:450;background: url('/images/utube.png') no-repeat top right / 250% ;
        background-size: cover;
        height: 15rem;
        width: 20rem;
        border-radius: 15px;">
            <tui-badge>Ready for preview</tui-badge>
        </section>
    </div>
    <div class="col-lg-6">
        This is a youtube search application where one can search any youtube content and upon clicking, they will redirected to the content on youtube. The maximum search results are 50
    </div>
    <footer>
        <p tuiSubTitle>Tech Stack: Angular,Youtube API</p>
     </footer>
</div>


<div 
tuiCardLarge
tuiSurface="elevated"
class="row d-flex m-2"
> 
    <div class="col-lg-6">
        <header tuiHeader>
            <p tuiTitle>Todo App</p>
            <br />
        </header>
        
        <section class="image d-flex" style="height:450;background: url('/images/utube.png') no-repeat top right / 250% ;
        background-size: cover;
        height: 15rem;
        width: 20rem;
        border-radius: 15px;">
            <tui-badge>Ready for preview</tui-badge>
        </section>
    </div>
    <div class="col-lg-6">
        This is a simple Todo app made with Angular and Material UI. This app allows one to add their Todo item and check them off once completed. The checked items are then removed from the list
    </div>
    <footer>
        <p tuiSubTitle>Tech Stack: Angular</p>
     </footer>
</div>