<br>
<div class="m-auto d-flex" tuiCardLarge tuiSurface="flat" style="width: 80%;" >
    <div tuiHeader class="m-auto d-flex">
        <h2 class="m-auto">Notable projects</h2>
    </div>

    <div 
tuiCardLarge
tuiSurface="elevated"
class="row d-flex m-auto"
style="width: 80%;"
> 
        <header tuiHeader>
            <p tuiTitle>E-commerce shop</p>
            <br />
        </header>
        
        <section class="d-flex image1" style="height:450;">
            <tui-badge>In development</tui-badge>
        </section>

        <div 
        tuiCardLarge
        tuiSurface="flat"
        style="width: fit-content;" >
            This is a B2B E-commerce shop inspired by Jumia and Amazon. <br>I am actually intending to launch it as my startup project. <br>My main goal is to bridge the gap between people struggling to sell online and buyers.
        </div>

    <footer>
        <p tuiSubTitle>Tech Stack: Angular, NodeJs,ExpressJS,MongoDB</p>
     </footer>
</div>

<div class="m-2"></div>
<div 
tuiCardLarge
tuiSurface="elevated"
style="width: fit-content;"
> 
    <header tuiHeader>
        <p tuiTitle>Reddit-Like App</p>
        <br />
    </header>
    
    <section class="d-flex image2" style="height:450;">
        <tui-badge>Ready for preview</tui-badge>
    </section>
    <div 
    tuiCardLarge
    tuiSurface="flat">
        This is a simple application that uses the reddit concept of upvoting and downvoting posts. <br>The posts are then sorted according to the number of votes. <br> It is meant for posting articles and the links to where the articles are found.
    </div>
    <footer>
        <p tuiSubTitle>Tech Stack: Angular</p>
     </footer>
</div>
<br>

<div 
tuiCardLarge
tuiSurface="elevated"
style="width: fit-content;"
> 

    <header tuiHeader>
        <p tuiTitle>Youtube search App</p>
        <br />
    </header>
    
    <section class="d-flex image3" style="height:450;">
        <tui-badge>Ready for preview</tui-badge>
    </section>
   
    <div 
    tuiCardLarge
    tuiSurface="flat">
        This is a youtube search application where one can search any youtube content. <br> Upon clicking, they will redirected to the content on youtube. The maximum search results are 50
    </div>
    <footer>
        <p tuiSubTitle>Tech Stack: Angular,Youtube API</p>
     </footer>
</div>
<br>
<div class="m-2"></div>
<div 
tuiCardLarge
tuiSurface="elevated"
style="width: fit-content;"
> 

    <header tuiHeader>
        <p tuiTitle>Todo App</p>
        <br />
    </header>
    
    <section class="image4 d-flex" style="height:450;">
        <tui-badge>Ready for preview</tui-badge>
    </section>

    <div 
    tuiCardLarge
    tuiSurface="flat">
        This is a simple Todo app made with Angular and Material UI. <br> This app allows one to add their Todo item and check them off once completed.  <br>The checked items are then removed from the list,but can be shown when the toggle button is pressed
    </div>
    <footer>
        <p tuiSubTitle>Tech Stack: Angular</p>
     </footer>
</div>

</div>

