.image1 {
    background: url('/images/shop.png') no-repeat top right / 250% ;
    background-size: cover;
    height: 15rem;
    width: 20rem;
    border-radius: 15px;
    &:hover {
        transform: scale(1.1);
    }
    
}

.image2 {
    background: url('/images/social.png') no-repeat top right / 250% ;
    background-size: cover;
    height: 15rem;
    width: 20rem;
    border-radius: 15px;
    &:hover {
        transform: scale(1.1);
    }
}

.image3 {
    background: url('/images/utube.png') no-repeat top right / 250% ;
    background-size: cover;
    height: 15rem;
    width: 20rem;
    border-radius: 15px;
    &:hover {
        transform: scale(1.1);
    }
}

.image4 {
    background: url('/images/todo.png') no-repeat top right / 250% ;
    background-size: cover;
    height: 15rem;
    width: 20rem;
    border-radius: 15px;
    &:hover {
        transform: scale(1.1);
    }
}

.image5 {
    background: url('/images/portfolio.png') no-repeat top right / 250% ;
    background-size: cover;
    height: 15rem;
    width: 20rem;
    border-radius: 15px;
    &:hover {
        transform: scale(1.1);
    }
}


[tuiCardLarge]{
    width: fit-content;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .image1 {
        background: url('/images/shop.png') no-repeat top right / 250% ;
        background-size: cover;
        height: 14rem;
        width: 15rem;
        border-radius: 15px;
        &:hover {
            transform: scale(1.1);
        }
    }
    .in-development:disabled{
        color: grey;
        cursor: not-allowed;
    }
  }

  @media only screen and (max-width: 600px) {
    .image2 {
        background: url('/images/social.png') no-repeat top right / 250% ;
        background-size: cover;
        height: 14rem;
        width: 15rem;
        border-radius: 15px;
        &:hover {
            transform: scale(1.1);
        }
    }
  }

  @media only screen and (max-width: 600px) {
    .image3 {
        background: url('/images/utube.png') no-repeat top right / 250% ;
        background-size: cover;
        height: 14rem;
        width: 15rem;
        border-radius: 15px;
        &:hover {
            transform: scale(1.1);
        }
    }
  }

  @media only screen and (max-width: 600px) {
    .image4 {
        background: url('/images/todo.png') no-repeat top right / 250% ;
        background-size: cover;
        height: 14rem;
        width: 15rem;
        border-radius: 15px;
        &:hover {
            transform: scale(1.1);
        }
    }
  }

  @media only screen and (max-width: 600px) {
    .image5 {
        background: url('/images/portfolio.png') no-repeat top right / 250% ;
        background-size: cover;
        height: 14rem;
        width: 15rem;
        border-radius: 15px;
        &:hover {
            transform: scale(1.1);
        }
    }
  }

  p,div,span,label,h,section,header{
    
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 113, 61);
}

tui-badge{
    color: white;
    background-color:rgb(255, 113, 61) ;
    opacity: 0.7;
    font-weight: bolder;
}

@media screen and (max-width:600px) {   
   a:disabled,a[disabled] {
        background-color: grey;
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
    };
    
  }
@media screen and (min-width:601px){
    [tuiCardLarge]{
        width: 80%;
    }
}