@media screen and (min-width:600px) {   
    .contact{
        margin: auto;
        display: flex;
        justify-content: center;
        width: fit-content;
    }
    [tuiTitle]{
        margin: auto;
    }
   }