<h2 tuiTitle>Contact me</h2>
<div class="" style="width:fit-content"> 
    <div tuiCell="s" [tuiCopyProcessor]="processor" style="width:fit-content">
        <tui-avatar src="@tui.phone" appearance="accent" size="s"></tui-avatar>
        <div tuiTitle [cdkCopyToClipboard]="phone">
            +254 701136880
        </div>
        <button (click)="tel()" tuiIconButton iconStart="@tui.clipboard" appearance="destructive"></button>
    </div>
    <div tuiCell="s" style="width:fit-content">
        <tui-avatar appearance="accent" size="s" src="@tui.mail"/>
        <div tuiTitle [tuiCopyProcessor]="processor" [cdkCopyToClipboard]="email" id="email">
            mickyonayngo1544&#64;gmail.com
        </div>
        <button tuiIconButton iconStart="@tui.clipboard" (click)="copyToClipboard()" appearance="destructive"></button>
    </div>
    <div tuiCell="s">
        <tui-avatar appearance="destructive" size="s" src="/images/whatsapp.png"/>
    </div>
    <div tuiCell="s">
        <tui-avatar appearance="destructive" size="s" src="/images/linkedin.png"/>
    </div>
</div>