<div 
tuiCardLarge
tuiSurface="flat"
size="s"
>
    <div tuiHeader>
        <h2 tuiTitle>My Tech stack
            <span tuiSubtitle>
                Specialization: MEAN stack
            </span>
        </h2>
    </div>
    <div class="row">
        <div tuiCardLarge>
            <p tuiTitle>
                Languages
            </p>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    JavaScript
                </div>
            </div>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    TypeScript
                </div>
            </div>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    Python
                </div>
            </div>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    R
                </div>
            </div>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    Dart
                </div>
            </div>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    Kotlin
                </div>
            </div>
        </div>
        <div tuiCardLarge>
            <p tuiTitle>
                Frameworks
            </p>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    Angular
                </div>
            </div>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    Flask
                </div>
            </div>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    NodeJS
                </div>
            </div>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    ExpressJS
                </div>
            </div>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    Flutter
                </div>
            </div>
        </div>
        <div tuiCardLarge>
            <p tuiTitle>
                Databases
            </p>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    MySQL
                </div>
            </div>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    MongoDB
                </div>
            </div>    
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    Firebase
                </div>
            </div>
        </div>
    </div>

</div>
