<!-- <div 
tuiCardLarge
tuiSurface="flat"
size="s" 
>
    <div tuiHeader class="m-5 mt-0 mb-0">
        <h2 tuiTitle>My Tech stack
            <span tuiSubtitle>
                Specialization: MEAN stack
            </span>
        </h2>
    </div>
    <div class="row">
        <div tuiCardLarge>
            <p tuiTitle>
                Languages
            </p>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    JavaScript
                </div>
            </div>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    TypeScript
                </div>
            </div>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    Python
                </div>
            </div>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    R
                </div>
            </div>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    Dart
                </div>
            </div>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    Kotlin
                </div>
            </div>
        </div>
        <div tuiCardLarge>
            <p tuiTitle>
                Frameworks
            </p>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    Angular
                </div>
            </div>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    Flask
                </div>
            </div>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    NodeJS
                </div>
            </div>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    ExpressJS
                </div>
            </div>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    Flutter
                </div>
            </div>
        </div>
        <div tuiCardLarge>
            <p tuiTitle>
                Databases
            </p>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    MySQL
                </div>
            </div>
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    MongoDB
                </div>
            </div>    
            <div tuiCell="s">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    Firebase
                </div>
            </div>
        </div>
    </div>

</div> -->
<h1>Tech Stack</h1>
<ul>
    <li style="--accent-color:#ff7c40">
        <div class="icon"><i class="fa-brands fa-codepen"></i></div>
        <div class="title">Angular</div>
        <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, impedit?</div>
    </li>
    <li style="--accent-color:#ff7c40">
        <div class="icon"><i class="fa-brands fa-html5"></i></div>
        <div class="title">NodeJs</div>
        <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
    </li>
    <li style="--accent-color:#ff7c40">
        <div class="icon"><i class="fa-brands fa-css3"></i></div>
        <div class="title">MongoDB</div>
        <div class="descr">Lorem ipsum dolor sit.</div>
    </li>
    <li style="--accent-color:#ff7c40">
        <div class="icon"><i class="fa-brands fa-js"></i></div>
        <div class="title">Flask</div>
        <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor laboriosam odio alias.</div>
    </li>
    <li style="--accent-color:#ff7c40">
        <div class="icon"><i class="fa-brands fa-github"></i></div>
        <div class="title">MySQL</div>
        <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
    </li>
</ul>