label{
    margin: auto;
}
p,div,span,label,h,section,header{
    
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 113, 61);
}
main{
    background-color: aliceblue;
}
.services{
    width: 80%;
    margin:auto
}