<header tuiNavigationHeader >
    <button 
    tuiIconButton 
    appearance="destructive"
    tuiNavigationDrawer
    iconStart="@tui.heart"
    [(open)]="open"
    >

    <br>
    <label class="d-flex m-2">
        <a tuiButton href="#services" iconStart="@tui.layers" appearance="destructive">
            <div tuiTitle>
                <strong>Services</strong>
            </div>
        </a>   
    </label>
    <label class="d-flex m-2">
        <a tuiButton href="#projects"  iconStart="@tui.heart" appearance="destructive">
            <div tuiTitle>
                <strong>Past Projects</strong>
            </div>
        </a>   
    </label>
    <label class="d-flex m-2">
        <a href="#contact" tuiButton iconStart="@tui.heart" appearance="destructive">
            <div tuiTitle>
                <strong>Contact</strong>
            </div>
        </a>   
    </label>
    <label class="d-flex m-2">
        <a href="#testimonials" tuiButton iconStart="@tui.heart" appearance="destructive">
            <div tuiTitle>
                <strong>Testimonials</strong>
            </div>
        </a>   
    </label>
    <label class="d-flex m-2">
        <a href="#stack" tuiButton iconStart="@tui.heart" appearance="destructive">
            <div tuiTitle>
                <strong>Tech Stack</strong>
            </div>
        </a>   
    </label>
    <label class="d-flex m-2">
        <button tuiButton iconStart="@tui.heart" appearance="destructive">
            <div tuiTitle>
                <strong>About</strong>
            </div>
        </button>   
    </label>
    </button>
    <span tuiNavigationLogo>
        <!-- <a tuiIconButton iconStart="@tui.home" appearance="destructive" href="#" ></a> -->
        <a tuiFade tuiLink href="#" appearance="destructive">Michael</a>
    </span>

</header>
<main tuiNavigationMain>
    <br>
    <div 
    tuiCardLarge
    tuiSurface="flat"
    tuiHeader
    class="m-auto"
    style="width: fit-content;"
    >
        <div class="m-auto d-flex" tuiCardLarge>
            <tui-avatar appearance="accent" src="/images/avatar.jpg"/>
        </div>
        <header tuiHeader>
            <span tuiTitle>
                <h3>Hello, My name is Michael</h3>
                <div tuiSubtitle>
                    <span>
                        <b>I am a full stack software developer</b>
                    </span>
                    <p>I blend various technologies to bring you exceptional software solutions that will meet your business needs.</p>
                </div>
            </span>
        </header>
        <div tuiCell="l">
            <div tuiTitle>
                I am commited to creating solutions that lead to success as your loyal partner
            </div>
        </div>
    </div>
    
       <br>
       
    <div 
    tuiCardLarge
    tuiSurface="flat"
    style="width:fit-content;margin:auto"
    >
        <div tuiHeader id="services">
            <h4>Services</h4>
        </div>
        <p tuiTitle>
            I develop all kinds of websites and custom softwares.
            <span tuiFade tuiScrollable>
                I develop softwares from scratch or may use a cms depending on my client's needs.
            </span>
        </p>
        <div tuiCardLarge>
            <h6 tuiTitle>Here are some of the common websites that I make</h6>
            <div tuiCell="l">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    Employee/Staff portal
                </div>
            </div>

            <div tuiCell="l">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    E-commerce Websites
                </div>
            </div>

            <div tuiCell="l">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    Sacco Websites
                </div>
            </div>

            <div tuiCell="l">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    Booking Website
                </div>
            </div>
 
            <div tuiCell="l">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    Banking Websites
                </div>
            </div>

            <div tuiCell="l">
                <tui-avatar appearance="accent" src="@tui.star"/>
                <div tuiTitle>
                    Company Websites
                </div>
            </div>
            
        </div>
        
        <div 
        tuiCardLarge
        tuiSurface="flat"
        >
            <div tuiHeader>
                <h4>Addons</h4>
            </div>
            <p tuiTitle>
                I also offer the following third party intergrations
            </p>
            <div tuiCardLarge>

                <div tuiCell="l">
                    <tui-avatar appearance="accent" src="@tui.star"/>
                    <div tuiTitle>
                        M-Pesa Intergration
                    </div>
                </div>
                <div tuiCell="l">
                    <tui-avatar appearance="accent" src="@tui.star"/>
                    <div tuiTitle>
                        Google Analytics Intergration
                    </div>
                </div>
                <div tuiCell="l">
                    <tui-avatar appearance="accent" src="@tui.star"/>
                    <div tuiTitle>
                        Social Media Intergration
                    </div>
                </div>
                <div tuiCell="l">
                    <tui-avatar appearance="accent" src="@tui.star"/>
                    <div tuiTitle>
                        Third Party API Intergration
                    </div>
                </div>
            </div>
        </div>


    </div>
    <app-projects id="projects"></app-projects>
    <app-testimonials id="testimonials"> </app-testimonials>
    <app-stack id="stack"></app-stack>
</main>
<app-footer></app-footer>

