<header tuiNavigationHeader>
    <button tuiButton tuiFade tuiTitle>
        Challenge
    </button>
</header>
<main tuiNavigationMain style="background-image:url('cnceart.jpg');background-repeat: no-repeat;background-size: cover;" >
    <div tuiCardLarge style="background:linear-gradient(135deg,blueviolet 90%,black);opacity: 0.5;color:rgb(18, 1, 243);font-size: 30px;font-style: oblique;font-weight: bolder;">
        <h2 tuiTitle>
            Machine Learning challenge
            <h4 tuiSubTitle>
                So hii ni overview ya hii challenge,,, vitu kiasi unafaa kujua
            </h4>
            <p tuiSubTitle>So kwanza utatumia jupiter notebook, i.e hiyo file itakuwa na extension ya .ipynb eg mymodel.ipynb </p>
            <p tuiSubTitle>Nitakupa data unafaa kutumia kwa hii challenge</p>
        </h2>
        <h2 tuiTitle>
            So utainstall pandas. Pandas ni library ya python yenye huwa inatumika kwa machine learning.
            <p tuiSubTitle>
                so, kuinstall pandas, enda tu kwa hiyo folder penye unafanyia project, enda kwa address bar na utype cmd then press enter. Hii itafungua command prompt. Then type <span style="color:orange">"pip install pandas"</span>
            </p>
            <p tuiSubTitle>
                Then sasa create a new file (jupiter notebook) yenye iko na hiyo extension ya .ipynb yenye utafanyia hiyo challenge.
            </p>
            <p tuiSubTitle>Unaeza refer hapa kuelewa next basic steps,,,an example before uanze 👉👉👉👉
                <a tuiIconButton iconStart="@tui.heart-filled" size="m" style="color:orange;background-color: transparent;" href="https://www.kaggle.com/code/dansbecker/your-first-machine-learning-model"></a> </p>
        </h2>
    </div>
    <div tuiCardLarge style="color: magenta;font-size: 40px;">
        <h1 tuiTitle tuiFade>
            Best of Luck Babe 😍😍😍
        </h1>
    </div>
</main>
