<div class="m-2"></div>
<div tuiCell="l" class="d-flex m-auto container">
    <h2 tuiHeader id="testimonials" class="container">
        Happy clients
    </h2>
</div>
<div tuiFade class="container">
<tui-carousel   [itemsCount]="1" [draggable]="true" class="container" >
    <div *tuiItem tuiCell="l" class="container">
            <tui-avatar src="@tui.user"></tui-avatar>
            <h2 tuiTitle>
                Betty Owitty  
                <span tuiSubtitle>                  
                    Michael developed for me an E-commerce web application for my catering services. <br> He is so profesional and in the web industry. I highly reccomend him
                </span> 
                                
            </h2>
        </div>

    <div *tuiItem tuiCell="l" class="container">
            <tui-avatar src="@tui.user"></tui-avatar>
            <h2 tuiTitle>
                Michael Phillip  
                <span tuiSubtitle>                  
                    His skills are unmatched. <br> He helped us make a beautiful and responsive front end during our school group code challenge
                </span>                
            </h2>           
    </div>

</tui-carousel>
</div>  
<div class="mb-4"></div>
