<div class="m-2"></div>
<div tuiCell="l" class="d-flex m-auto container">
    <h2 tuiTitle id="testimonials" class="container">
        Happy clients
      <p tuiSubtitle>Coming soon</p>
    </h2>
</div>
<div  class="row testimonials m-auto p-2" tuiCardLarge tuiSurface="flat" style="filter:blur(5px)">

    <div  class="col-sm-6 col-12"  >
            <div tuiCell="m">
                <tui-avatar src="@tui.user"></tui-avatar>
            <h2 tuiTitle>
                Betty Owitty  
                <span tuiSubtitle>                  
                    Michael developed for me an E-commerce web <br>application for my catering services. <br> He is so profesional in the web industry. I highly reccomend him
                </span> 
                                
            </h2>
            </div>
        </div>

    <div class="col-sm-6 col-12" >
            <div tuiCell="m">
                <tui-avatar src="@tui.user"></tui-avatar>
            <h2 tuiTitle>
                Michael Phillip  
                <span tuiSubtitle>                  
                    His skills are unmatched. <br> He helped us make a beautiful and responsive front end during <br> our school group code challenge
                </span>                
            </h2>
            </div>           
    </div>

</div>  
<div class="mb-4"></div>
