<div class="m-2"></div>
<div tuiCell="l" class="d-flex m-auto container">
    <h2 tuiHeader id="testimonials" class="container">
        Happy clients
    </h2>
</div>
<section  class="row">

    <div  tuiCell="m" class="col-lg-6 col-12 m-auto d-flex">
            <tui-avatar src="@tui.user"></tui-avatar>
            <h2 tuiTitle>
                Betty Owitty  
                <span tuiSubtitle>                  
                    Michael developed for me an E-commerce web <br>application for my catering services. <br> He is so profesional and in the web industry. I highly reccomend him
                </span> 
                                
            </h2>
        </div>

    <div tuiCell="m" class="col-lg-6 col-12 m-auto d-flex">
            <tui-avatar src="@tui.user"></tui-avatar>
            <h2 tuiTitle>
                Michael Phillip  
                <span tuiSubtitle>                  
                    His skills are unmatched. <br> He helped us make a beautiful and responsive front end during <br> our school group code challenge
                </span>                
            </h2>           
    </div>

</section>  
<div class="mb-4"></div>
